<html>
<head>
	<title>Anna Kathleen Ormiston</title>
	<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	
<nav>
	<ul>
		<li><a href="Leaflet_Lab/lab.html">Leaflet Lab</a></li>
		<li><a href="d3_coordinated_viz/index.html">d3 Lab</a></li>
  		<li><a href="Final_Project/index.html">Final Project: The History of U.S. National Monuments</a></li>
		<li><a href="/">Home</a></li>
	        <li><a href="/about">About</a></li>
        	<li><a href="/cv">CV</a></li>
        	<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        		<h1>Hi there, I'm Anna Ormiston!</h1>
				<p>I'm best known as the horrible cop from <em>A Touch of Evil</em> Don't trust me. <a href="/about">Read more about my life...</a></p>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:anna.ormiston@gmail.com">email</a></li>
        		<li><a href="https://github.com/aormisto">github.com/aormisto</a></li>
			</ul>
		</footer>
	</body>
</html>
