<html>
<head>
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	
<nav>
	<ul>
		<li><a href="Leaflet_Lab/lab.html">Annual Mean Air Pollution for the U.S. (2000 - 2016)</a></li>
		<li><a href="d3_coordinated_viz/index.html">World Greenhouse Gas Emissions (2014)</a></li>
  		<li><a href="Final_Project/index.html">Final Project: The History of U.S. National Monuments</a></li>
		
    		</ul>
		</nav>
		<div class="container">
			{{ content }}
    		
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:anna.ormiston@gmail.com">email</a></li>
        		<li><a href="https://github.com/aormisto">github.com/aormisto</a></li>
			</ul>
		</footer>
	</body>
</html>
